.THIS {
    min-height: 400px;
    color: #636985;
    font-size: 1.5em;
}

.THIS .welcome {
    height: 290px;
    margin-bottom: 40px;
    background-color: #fff;
}

.THIS .uppercase {
    text-transform: uppercase;
}

.THIS .centered {
    display: flex;
    justify-content: center;
}

.THIS .descprition-text {
    max-width: 900px;
    line-height: 1.9rem;
    font-size: 1.55rem;
}

.THIS .knockout {
    font-family: knockout !important;
}

.THIS .whitney-light {
    font-family: whitney-light !important;
    /* font-size: 1rem !important; */
}

.THIS .slds-button_brand {
    background-color: #028CFF;
    border: 1px solid #028CFF;
}


.THIS .twilio-h1 {
    font-family: whitney-book;
    font-size: 2rem !important;
    color: red;
}

.THIS .partners {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}

.THIS .partner {
    margin-top: 40px;
    width: 400px;
    text-align: center;
}

.THIS .partner-title {
    font-family: whitney-medium !important;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.THIS .partner-text {
    font-size: .9rem;
    height: 100px;
    font-family: whitney-light !important;
}